.Post-Container{
    width: 90%;
    height: 67vh;
    min-height: 67vh;
    background: rgb(249,202,156);
    background: radial-gradient(circle, rgba(249,202,156,1) 0%, rgba(255,255,255,1) 96%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 40px;
    padding: 2%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}
.Post-Form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 20px;

    & img{
        width: 50%;
        height: 50%;
        object-fit: contain;
    }

    & input{
        width: 80%;
        height: 30px;
        border: solid 2px rgb(254,168,72);
        border-radius: 10px;
        outline: none;
        padding: 2px;
    }
    & input[type="file"]{
        display: none;
    }
    & label{
        width: 80px;
        height: 40px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 350ms;
        font-size: 10px;
    }
    & label:hover{
        background-color: rgb(254,168,72);
        transition: 350ms;
        border: 2px solid white;
        cursor: pointer;
    }
    & div{
        width: 100px;
        height: 40px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: 350ms;
    }
    & div:hover{
        background-color: rgb(254,168,72);
        transition: 350ms;
        border: 2px solid white;
        cursor: pointer;
    }
}